.row-store{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  

}
.product__item{
    margin: 1em;

}
.product-image{
    height: 100%;
}
.order{
    padding: 2em;
}

.order-image{
    max-width: 70%;
    margin: auto;

}
.order h4{
    font-size: 1rem;
    line-height: 2em;
}
.order-button{
    display: flex;
    justify-content: right;
}
.order-button Button{
	background: 	#FFD700;
    margin-left: 2em;
}



/* category styling */

.no-item{
text-align: center;
margin: 3em auto;
}